BasedOnStyle: Google
DerivePointerAlignment: false
IndentRequiresClause: true
IncludeCategories:
- Regex:           '^<[^/]*\.h>'
  Priority:        10
  SortPriority:    10
- Regex:           '^<(arpa|bits|sys|linux|asm|netinet)/.*'
  Priority:        10
  SortPriority:    11
- Regex:           '^<[^/]*>'
  Priority:        20
- Regex:           '^<.*'
  Priority:        30
- Regex:           '.*'
  Priority:        100
